{% extends "base.html" %}
{% block title %}Beer{% endblock %}
{% block content %}
<main>
    <h1>Beer Check-ins</h1>
    <p>A log of all the beers I've had.</p>
    <div class="segment">
        <h2 class="segment-title">Recent Check-ins</h2>
        {% for checkin in checkins %}
            <article class="post">
                <div class="post-text">
                    <div class="post-info">
                        <a href="{{ prefix }}/{{ checkin.brewery_slug }}/{{ checkin.beer_slug }}/" class="post-info-title">{{ checkin.beer_name }}</a> by <a href="{{ prefix }}/{{ checkin.brewery_slug }}/">{{ checkin.brewery_name }}</a>
                        <time datetime="{{ checkin.timestamp | date('%Y-%m-%dT%H:%M:%S.%f%z') }}">{{ checkin.timestamp | date("%Y-%m-%d") }}</time>
                        - Rated: {{ checkin.rating_score }}/5
                    </div>
                    <div class="post-blurb">
                        {{ checkin.description | safe }}
                        <a href="{{ prefix }}/{{ checkin.slug }}/">View check-in</a>
                    </div>
                </div>
           </article>
        {% endfor %}
    </div>
</main>
{% endblock %}
