{% extends "base.html" %}
{% block title %}Check-in: {{ checkin.beer_name }}{% endblock %}
{% block content %}
<main>
    <div class="segment">
        <h2 class="segment-title">{{ checkin.beer_name }} by {{ checkin.brewery_name }}</h2>
        <article class="post">
            {% if checkin.image is not none %}
                <div class="post-img">
                    <img loading="lazy" src="{{ checkin.image }}" alt="Picture of {{ checkin.beer_name }}">
                </div>
            {% endif %}
            <div class="post-text collections-text">
                <table>
                    <tr>
                        <th>Beer</th>
                        <td><a href="/beer/{{ checkin.brewery_slug }}/{{ checkin.beer_slug }}/">{{ checkin.beer_name }}</a></td>
                    </tr>
                    <tr>
                        <th>Brewery</th>
                        <td><a href="/beer/{{ checkin.brewery_slug }}/">{{ checkin.brewery_name }}</a></td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{ checkin.rating_score }}/5</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ checkin.timestamp | date("%Y-%m-%d") }}</td>
                    </tr>
                </table>
                {% if checkin.description and checkin.description.strip() %}
                    <div class="collections-text-note">
                        <b>Notes</b>
                        <p>
                            {{ checkin.description | safe }}
                        </p>
                    </div>
               {% endif %}
            </div>
        </article>
    </div>
</main>
{% endblock %}
